:root{
	--palette-core-primary: #fe5000; // on hover boarders colors
 	--palette-action-hover: no color; // boarder on hover for set of values should always be transparent 
	--questions-spacing: 15px;
	--typography-fontFamily: 'open sans';
}

.wtxt1{
--typography-bodyLarge-size: 24px;
}
	
.q1p1{
--palette-group-mark-background: #fe5000;
--palette-rating-custom-hover: #fe5000;
    --palette-rating-custom-selected: #fe5000;
    --palette-rating-custom-outline: #fe5000;
    --palette-rating-custom-selected-outline: #fe5000;}


.q1p2{
    --palette-rating-custom-hover: #fe5000;
    --palette-rating-custom-selected: #fe5000;
    --palette-rating-custom-outline: #fe5000;
    --palette-rating-custom-selected-outline: #fe5000;}
 
.page3{
 --palette-core-outline: #fe5000;
 --palette-action-hover: no color; // boarder on hover for set of values should always be transparent 
 --palette-action-active: var(--palette-core-primary);
 --palette-group-mark-background: #fe5000;
 --palette-rating-number-hover: #fe5000; // number inside
 --palette-rating-number-selected: #fe5000;
 
}
.q1p4{
--palette-core-outline: transparent;
--palette-action-hover: transparent;
--palette-rating-number-hover:#fe5000 ;
--palette-rating-number-selected: #fe5000;
}

